:root {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: var(--color-primary);
  --el-color-primary-light-3: #ff8766;
  --el-color-primary-light-5: #ffab95;
  --el-color-primary-light-7: #ffcec4;
  --el-color-primary-light-8: #ffe0db;
  --el-color-primary-light-9: #fff0ec;
  --el-color-primary-dark-2: #cc390f;
}
